.singer-info-nav {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 50px;
  z-index: 999;
  color: #FFFFFF;
  background: linear-gradient(top,rgba(0,0,0,.6),transparent);
}

.singer-info-nav .am-navbar-title {
  color: #FFFFFF;
}

.singer-info {
  position: relative;
}