
.header .am-navbar-left{
  background:url('../assets/images/logo.png') 10px 8px no-repeat;
  background-size:120px 30px;
  padding-left: 30px;
}

.header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 999;
}