
.player-box {
  height: 100%;
  position: absolute;
  left: 0;
}

.bg-overlay {
  background: url(http://singerimg.kugou.com/uploadpic/softhead/200/20180510/20180510131337204.jpg) no-repeat 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(15px); 
}
.play-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
}

.panel-play-bd {
  width: 100%;
  
  position: relative;
}

.panel-play-img-box {
  width: 4rem;
  height: 4rem;
  margin: 0.4286rem auto 0;
}

.panel-play-img-box img {
  width: 100%;
}
.panel-play-lrc-box {
  margin-top: .2928rem;
  text-align: center;
  color: #afabac;
  height: 1.9rem;
  overflow: hidden;
}

.panel-play-lrc-box p{
  width:100%;
  height:0.3957rem;
  line-height:0.3957rem;
  vertical-align:top;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  font-size:.2571rem
}
.panel-play-lrc-box .current{color:#d1c90e}

.time-wrap {
  width: 100%;
  padding: .8928rem .7143rem;
  display: box;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -webkit-box-orient: horizontal;
  -webkit-box-sizing: border-box;
  box-align: center;
  box-pack: justify;
  box-orient: horizontal;
  box-sizing: border-box
}

.progress-wrap,.time-wrap {
  -webkit-box-flex: 1;
  box-flex: 1
}

.progress-wrap {
  height: .1785rem;
  margin: 0 .5357rem;
  background: #232228;
  position: relative;
  z-index: 2
}

.progress-bar {
  width: 100%;
  height: 100%
}

.preview-progress,.progress {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%
}

.preview-progress {
  background: #6c6b70
}

.progress,.progress span {
  background: #3195fd
}

.progress span {
  position: absolute;
  top: 50%;
  right: -.4rem;
  margin-top: -.3572rem;
  width: .7143rem;
  height: .7143rem;
  display: block;
  border-radius: 100%
}

.time,.timeshow {
  font-size: .6428rem;
  color: #dcdcdc
}

.play-operate {
  margin: 0 auto;
  font-size: 0;
  text-align: center
}

.play-operate .btn-download,.play-operate .btn-next,.play-operate .btn-prev {
  width: 2.3214rem;
  height: 2.4rem;
  margin: 0 .8929rem;
  display: inline-block;
  vertical-align: middle
}

.play-operate .btn-loading,.play-operate .btn-pause,.play-operate .btn-play {
  width: 3.2143rem;
  height: 3.2143rem;
  margin: 0 .8929rem;
  display: inline-block;
  vertical-align: middle
}

.play-operate .btn-play {
  background: url(../../assets/play_play.png) no-repeat;
  background-size: 100%
}

.play-operate .btn-loading {
  -webkit-animation: none;
  animation: none
}

.play-operate .btn-loading,.play-operate .btn-pause {
  background: url(../../assets/play_pause.png) no-repeat;
  background-size: 100%
}

.play-operate .btn-prev {
  background: url(../../assets/play_prev.png) no-repeat;
  background-size: 100%
}

.play-operate .btn-next {
  background: url(../../assets/play_next.png) no-repeat;
  background-size: 100%
}